@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>无尽征途登录</title>
	<link href="/css/global.css" rel="stylesheet" />
</head>
<body>
	<!--页眉-->
	<div id="hlogo">
		<img src="/img/logo2.png" />
		<p>用 户 登 录</p>
	</div>
	<div id="login">
		<!---->
		@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
		{
			<input id="account" name="account" title="账号" maxlength="320" type="text" class="input-block" placeholder="账号" />
			<input id="pwd" name="pwd" title="密码" maxlength="16" type="password" class="input-block" placeholder="密码" />
			<input type="submit" id="submit" value="登 录" class="btn-block"/>
		}
		<div style="color: red">@TempData["msg"]</div>
	</div>
	<div id="footer">
		<p>
			Wujinkeji.net EULA | 隐私 | 法律条款 | 著作权侵权 |
		</p>
		<p>©2020有限公司版权所有。</p>
	</div>
</body>
</html>